* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.demo {
  color: blue;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  word-spacing: 6px;
  font-style: italic;
  text-decoration: underline;
  font-variant: small-caps;
  font-family: Arial;
  text-shadow: 2px -3px 4px gray;
  width: 600px;
  /* 
  border-width: 10px;
  border-style: solid;
  border-color: black; 
  border-top-width: 10px;
  border-top-style: dashed;
  border-top-color: black;
  border-left-width: 10px;
  border-left-style: dashed;
  border-left-color: black;
  border-right-width: 10px;
  border-right-style: dashed;
  border-right-color: black;
  border-bottom-width: 10px;
  border-bottom-style: dashed;
  border-bottom-color: black;
  border-top: 10px dashed black;
  border-left: 10px double black;
  border-right: 10px double black;
  border-bottom: 10px solid black;
  */
  border: 6px double black;

  /*
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; 
  margin: 20px 30px 40px 50px;
  margin: 20px 30px 40px;
  margin: 20px 30px;
  */
  margin: 40px auto;

  /*
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 40px; 
  padding: 20px 30px 40px 50px;
  padding: 20px 30px 40px;
  padding: 20px 30px;
  */
  padding: 40px;
  border-radius: 16px;
  box-shadow: -10px -10px 10px lightgray, 10px 10px 10px lightgray,
    0px 0px 10px black inset;
}

.s1,
.s2 {
  background: yellow;
  padding: 10px;
  margin: 50px;
  width: 500px;
  height: 100px;
  display: block;
}

.d1,
.d2 {
  display: inline-block;
  width: 200px;
  height: 80px;
  background: lightblue;
}

.flag {
  width: 300px;
  height: 200px;
  margin: 20px auto;
}

.kala {
  width: 100%;
  height: 33%;
  background: black;
}
.lalu {
  width: 100%;
  height: 34%;
  background: red;
}
.guishap {
  width: 100%;
  height: 33%;
  background: yellow;
}
